<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
    <%= render 'shared/messages' %>
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Admin /</span> Page</h4>

      <%= link_to 'New Page', new_admin_page_path,class: 'btn btn-primary mb-3  ' %></td>
      <div class="card">
        <h5 class="card-header">Pages</h5>
        <div class="table-responsive text-nowrap">

          <table class="table" id="dataTable">
            <thead>
              <tr>
                <th>Sr.No</th>
                <th>Page</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                <% @pages.each_with_index do |page, index| %>
                <tr>
                    <td><%= index+1 %>  </td>
                    <td><%= page.name %>  </td>
                    <td><span class="badge bg-label-info me-1"><%= page.active %>  </span></td>
                    <td class="d-flex">
                    <%= button_to "Edit",  edit_admin_page_path(page), method: :get,  class: "btn btn-primary btn-sm"  %>
                    <%= button_to "Delete",  admin_page_path(page), method: :delete, class: "btn btn-warning btn-sm"  %>
                    </td>
                </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
   
   
    </div>
