<div class="body">
  <div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center">
  <div class="col-md-4 ">
    <div class="">
      <div class="authentication-inner">
        <div class="card">
          <div class="card-body">
            <h4 class="mb-2">Welcome 👋</h4>
            <p class="mb-4">Please sign-in to your account and start the adventure</p>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name),  html: {id: 'formAuthentication'} ) do |f| %> 
            <div class="field"><%= f.label :email %> <br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %> </div>
            
            <div class="field"><%= f.label :password %> <br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %> </div>
            <div class="mb-3">
              <div class="form-check"><% if devise_mapping.rememberable? %> <div class="field"><%= f.check_box :remember_me, class: "form-check-input" %><%= f.label :remember_me,  class: "form-check-label" %> </div><% end %> </div>
            </div>
            <div class="actions"><%= f.submit "Log in", class: "btn btn-primary" %> </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>