
<div class="content-wrapper">
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Admin/</span>Profile</h4>

  <div class="row">
    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Edit Profile</h5>
        </div>
        <div class="card-body">
    <%= render 'shared/messages' %>

   <%= form_with(url: admin_user_path, method: :put) do |form| %>

    <div class="form-group">
      <%= form.label :email %><br>
      <%= form.email_field :email, value: @admin.email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :new_password %><br>
      <%= form.password_field :new_password, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= form.label :confirm_password %><br>
      <%= form.password_field :confirm_password, class: "form-control", required: true %>
    </div>

    <div>
      <%= form.submit class: "btn btn-primary mt-2" %>
    </div>
  <% end %>
        </div>
      </div>
    </div>
  </div>
</div>